body {
    background-color:   black;
    color:  darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: fit-content;
    background-color: #777777;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    display: inline-block;
    clear: left;
    width: 150px;
    text-align: right;
}

input {
    display: inline-block;
    text-align: left;
}