/* copyright 2024 ecdestro */

table {
    width: 60%;
    border-collapse: collapse;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10pt;
    padding: 0%;
  }
  table, th, td {
    border: 1px solid black;
  }
  th {
    background-color: skyblue;
    text-align: center;
    height: 30px;
  }
  tr {
    background-color: white;
  }
  tr:hover {
    background-color: lightgray;
  }
  .highlight {
    background-color: lightgreen;
  }